main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  height: auto;
  font-family: "Pixel";
}

.exit-button {
  content: " ";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  background-image: url(../image/close-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
}

.header__text {
  text-align: center;
  width: 100%;
  margin-top: 2.5%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 3em;
}

.person {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin-top: 20px;
}
.person__image {
  width: 50px;
  height: 50px;
}
.person__text {
  margin-left: 10px;
}

.person__wins {
  margin-left: 10px;
}